html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --background-color: #ffffff;
  --second-background-color: #2f303a;
  --nav-button-color: #2196f3;
  --third-background-color: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
}

header {
  outline: 2px solid tomato;
}

a {
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

img {
  /* display: block; */
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1169px;
  margin-right: auto;
  margin-left: auto;
  /* display: flex; */
  align-content: center;
  /* justify-content: space-between; */
  outline: 1px solid tomato;
}

.horizont {
  display: flex;
  justify-content: space-between;
}

.center {
  text-align: center;
}

/* header */

.header {
  padding: 25px 0;
  display: flex;
  align-items: flex-end;
}

.adress-horizont {
  align-items: flex-start;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.web {
  color: var(--nav-button-color);
}

.studio {
  color: var(--background-color);
}

.header-list {
  display: flex;
  flex-direction: row;
}

.navigate {
  justify-content: space-between;
  align-items: center;
}

.header-link {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 50px;
}

.header-link:hover,
.header-link:focus {
  color: var(--nav-button-color);
}

/* !!!Index!!! */
/* hero */
.hero {
  background-color: var(--second-background-color);
  padding: 200px 0;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.button {
  font-family: "Roboto", sans-serif;
  background-color: var(--nav-button-color);
  color: var(--background-color);
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.87;
  font-weight: bold;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: 1px solid;
  border-color: transparent;
  border-radius: 5px;
}

/* features */
.title {
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  outline: 2px solid tomato;
}

.features {
  padding: 94px 0;
  outline: 1px solid tomato;
}

.features-title {
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.features-description {
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-bottom: 0;
}

.features-item {
  width: 270px;
}

/* work */

.work {
  padding-bottom: 94px;
  outline: 1px solid tomato;
}

.team {
  background-color: var(--third-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
  outline: 1px solid tomato;
}

/* team */
.team-name {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-position {
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.img {
  margin-bottom: 30px;
}

.team-social {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

.clients {
  background-color: var(--third-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
  align-items: center;
}

.social-button {
  width: 170px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

/* footer */
.footer {
  background-color: var(--second-background-color);
  padding: 60px 0;
  justify-content: flex-start;
}

.address {
  font-family: "Roboto", sans-serif;
  color: var(--background-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-link {
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.welcome {
  margin-left: 30px;
  align-items: baseline;
}

.footer-title {
  font-family: Roboto;
  font-weight: bold;
  color: var(--background-color);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
}

/* !!!Portfolio!!! */
/* Main */
.button-filter {
  font-family: "Roboto", sans-serif;
  background-color: var(--third-background-color);
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  display: inline-block;
  border: 1px solid;
  border-color: transparent;
  border-radius: 5px;
  letter-spacing: 0.03em;
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--nav-button-color);
  color: var(--background-color);
}

.filter {
  justify-content: center;
}

.projects-title {
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-kind {
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
